select {
	width: 170px;
}
.field select {
	width:250px;
}
label.error {
	color: red;
}
.tab-content {
	display: none;
}
.field {
	padding-bottom: 10px;
}
.field input[type='text'] {
	width:250px;
}
.field textarea {
	width:400px;
	height:100px;
}
.field table select {
	width:150px;
}
.field table input[type='text'] {
	width:150px;
}
.field table textarea {
	width:200px;
}
.user-label {
	float: left;
	width: 100px;
	font-weight: bold;
}
#updateGroups {
	display: none;
}