<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<!-- 
				<value>classpath:global.properties</value>
				-->
				<value>file:/etc/anudc/datacommons/datacommons.properties</value>
				<value>file:/C:/AnuDc/datacommons/datacommons.properties</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true"/>
	</bean>
	
	<context:annotation-config />
	
	<context:component-scan base-package="au.edu.anu.datacommons" />
	
	<bean id="contextApplicationContextProvider" class="au.edu.anu.datacommons.util.ApplicationContextProvider" />
	
	<bean id="riSearchService" class="au.edu.anu.datacommons.search.ExternalPoster">
		<property name="username" value="${fedora.username}" />
		<property name="password" value="${fedora.password}" />
		<property name="url" value="${fedora.baseURI}${fedora.riSearchURI}" />
		<property name="type" value="application/x-www-form-urlencoded" />
		<property name="acceptType" value="text/xml" />
		<property name="parameters">
			<map>
				<entry key="dt" value="on" />
				<entry key="format" value="Sparql" />
				<entry key="lang" value="sparql" />
				<entry key="limit" value="1000" />
				<entry key="type" value="tuples" />
			</map>
		</property>
	</bean>
	
	<bean id="riSearchJSONService" class="au.edu.anu.datacommons.search.ExternalPoster">
		<property name="username" value="${fedora.username}" />
		<property name="password" value="${fedora.password}" />
		<property name="url" value="${fedora.baseURI}${fedora.riSearchURI}" />
		<property name="type" value="application/x-www-form-urlencoded" />
		<property name="acceptType" value="application/json" />
		<property name="parameters">
			<map>
				<entry key="dt" value="on" />
				<entry key="format" value="json" />
				<entry key="lang" value="sparql" />
				<entry key="limit" value="10" />
				<entry key="type" value="tuples" />
			</map>
		</property>
	</bean>
	
	<bean id="gsearchUpdateService" class="au.edu.anu.datacommons.search.ExternalPoster">
		<property name="username" value="${fedora.username}" />
		<property name="password" value="${fedora.password}" />
		<property name="url" value="${gsearch.url}/rest" />
		<property name="type" value="application/x-www-form-urlencoded" />
		<property name="acceptType" value="text/html" />
		<property name="parameters">
			<map>
				<entry key="operation" value="updateIndex" />
				<entry key="action" value="fromPid" />
			</map>
		</property>
	</bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${email.host}" />
		<property name="port" value="${email.port}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">${email.smtp.auth}</prop>
				<prop key="mail.smtp.starttls.enable">${email.smtp.starttls}</prop>
			</props>
		</property>
	</bean>
</beans>